if flag=='google_auth'
  .left-side-menu
    .slimscroll-menu
      // User box
      .user-box.text-center
        img.rounded-circle.img-thumbnail.avatar-md(src=`${user.picture}`  alt=`${user.name}` title=`${user.name}`)
        .dropdown
          a.user-name.dropdown-toggle.h5.mt-2.mb-1.d-block(href='#' data-toggle='dropdown' aria-expanded='false')= user.name
          .dropdown-menu.user-pro-dropdown
            // item
            a.dropdown-item.notify-item(href='javascript:void(0);')
              i.fe-user.mr-1
              span My Account
            // item
            a.dropdown-item.notify-item(href='javascript:void(0);')
              i.fe-log-out.mr-1
              span Logout
        p.text-muted= user.email
      // - Sidemenu
      #sidebar-menu
        ul#side-menu.metismenu
          li.menu-title Navigation
          li
            a(href='/home')
              i.mdi.mdi-view-dashboard
              span  Dashboard 
          li
            a(href='/mail')
              i.mdi.mdi-email
              span  Mail 
          li.menu-title Services
          li
            a(href='/domain')
              i.mdi.mdi-earth
              span.badge.badge-purple.float-right New
              span  Domains 
          li
            a(href='/projects')
              i.mdi.mdi-briefcase-account
              span  Projects 
          li.menu-title Profile
          li
            a(href='/profile')
              i.mdi.mdi-account-circle
              span  Account 
      // End Sidebar
      .clearfix
    // Sidebar -left
if flag=='git_auth'
  .left-side-menu
    .slimscroll-menu
      // User box
      .user-box.text-center
        img.rounded-circle.img-thumbnail.avatar-md(src=`${userGit.avatar_url}`  alt=`${userGit.login}` title=`${userGit.login}`)
        .dropdown
          a.user-name.dropdown-toggle.h5.mt-2.mb-1.d-block(href='#' data-toggle='dropdown' aria-expanded='false')= userGit.login
          .dropdown-menu.user-pro-dropdown
            // item
            a.dropdown-item.notify-item(href='javascript:void(0);')
              i.fe-user.mr-1
              span My Account
            // item
            a.dropdown-item.notify-item(href='javascript:void(0);')
              i.fe-log-out.mr-1
              span Logout
        p.text-muted= userGit.email
      // - Sidemenu
      #sidebar-menu
        ul#side-menu.metismenu
          li.menu-title Navigation
          li
            a(href='/home')
              i.mdi.mdi-view-dashboard
              span  Dashboard 
          li
            a(href='/mail')
              i.mdi.mdi-email
              span  Mail 
          li.menu-title Services
          li
            a(href='/domain')
              i.mdi.mdi-earth
              span.badge.badge-purple.float-right New
              span  Domains 
          li
            a(href='/projects')
              i.mdi.mdi-briefcase-account
              span  Projects 
          li.menu-title Profile
          li
            a(href='/profile')
              i.mdi.mdi-account-circle
              span  Account 
      // End Sidebar
      .clearfix
    // Sidebar -left
if flag=='fb_auth'
  .left-side-menu
    .slimscroll-menu
      // User box
      .user-box.text-center
        img.rounded-circle.img-thumbnail.avatar-md(src=`${picture}`  alt=`${name}` title=`${name}`)
        .dropdown
          a.user-name.dropdown-toggle.h5.mt-2.mb-1.d-block(href='#' data-toggle='dropdown' aria-expanded='false')= name
          .dropdown-menu.user-pro-dropdown
            // item
            a.dropdown-item.notify-item(href='javascript:void(0);')
              i.fe-user.mr-1
              span My Account
            // item
            a.dropdown-item.notify-item(href='javascript:void(0);')
              i.fe-log-out.mr-1
              span Logout
        p.text-muted= email
      // - Sidemenu
      #sidebar-menu
        ul#side-menu.metismenu
          li.menu-title Navigation
          li
            a(href='/home')
              i.mdi.mdi-view-dashboard
              span  Dashboard 
          li
            a(href='/mail')
              i.mdi.mdi-email
              span  Mail 
          li.menu-title Services
          li
            a(href='/domain')
              i.mdi.mdi-earth
              span.badge.badge-purple.float-right New
              span  Domains 
          li
            a(href='/projects')
              i.mdi.mdi-briefcase-account
              span  Projects 
          li.menu-title Profile
          li
            a(href='/profile')
              i.mdi.mdi-account-circle
              span  Account 
      // End Sidebar
      .clearfix
    // Sidebar -left